svg {
      width: 600px;
      height: 400px;
    }
    .eixo {
      stroke: #aaa;
      stroke-width: 2;
    }
    .curva-definida {
      fill: none;
      stroke: #2b57e9;
      stroke-width: 10;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: desenhar 4s linear infinite;
    }
    .curva-inversa {
      fill: none;
      stroke: #ff0080;
      stroke-width: 10;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: desenhar 4s linear infinite reverse;
    }
    @keyframes desenhar {
      to {
        stroke-dashoffset: 0;
      }
    }