/* Estilizando o corpo da página */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #8fbc8f, #1c641c);
    background-attachment: fixed;
    text-align: center;
}
/* .container {
    width: 80%;
    margin: auto;
    background-color: rgb(8, 54, 14);
    padding: 20px;
    border-radius: 10px; */
/* } */
.header{
    background-color: rgb(8, 54, 14);
    color: rgb(221, 227, 64);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 1px;
}

.form-section {
    background-color:rgb(8, 54, 14);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 0px;
}


.grades {
    background-color: rgb(8, 54, 14);
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.grades-title {
    background-color: rgb(8, 54, 14);
    color: rgb(221, 227, 64);
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}
input {
    width: 120px;
    margin: 5px;
    padding: 5px;
    text-align: center;
}
button {
    color: rgb(227, 224, 64);
    font-size: 10px;
    margin-bottom: 10px black;
    margin: 20px black ;
    border: #34335c solid 2px;
    background-color: rgb(2, 68, 2);
    width: 100px;
    height: 50px;
    line-height: 1px;
    border-radius: 10px;
}
button:hover {
    background-color: #cf0808;
}

.tabela-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
    width: 100vh;
    font-size: 15px;
    /* height: 100vh; Garante que o contêiner ocupe toda a tela */
}


th, td {
    border: 0px solid #fefcfb;
    padding: 4px 5px;
    text-align: center;
    background-color: #5c4033;
    font-size: 15px;
}


.parametro {
    background-color: rgb(2, 68, 2);
    color: white;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 20px;
    margin-top: 0px;
    width: 100%;
}

 textarea{

display: block; 
text-align: right;

 }
 select { 
    text-align: center;
    width: 140px;
    height:25px;
    /* margin-left: 150px; */


}

th, td{
    color: #ecec0b;
    background-color: rgb(2, 68, 2);
    text-align: left;
}



#botaoSalvar {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

}


@media (max-width: 600px) {
    html, body {
        width: 100vw;
        max-width: 100vw;
        overflow-x: visible;
        box-sizing: border-box;
    }
    .grades-title {
        font-size: 13px;
        padding: 4px;
        margin-bottom: 4px;
    }
    .grades, .form-section, .header, .parametro {
        font-size: 11px;
        padding: 4px;
        
    }
    input, select, textarea {
        font-size: 12px;
        padding: 2px;
    }
    button, #botaoSalvar {
        font-size: 12px;
        padding: 6px 0;
    }
    .tabela-container {
        width: 100vw !important;
        max-width: 100vw !important;
        padding: 0;
        margin: 0;
        overflow-x: auto;
        box-sizing: border-box;
        display: block;
    }
    table {
        width: 100vw !important;
        max-width: 100vw !important;
        box-sizing: border-box;
    }
    th, td {
        padding: 2px;
        font-size: 10px;
        word-break: break-word;
        max-width: 90px;
        overflow-x: auto;
        box-sizing: border-box;
    }


}
