canvas {
    background-color: rgb(255, 255, 255);
    border: 5px solid black;
    max-width: 900px;  /* Aumentado */
    max-height: 600px; /* Aumentado para permitir mais altura */
}

.grafico-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grafico {
    width: 800px;   /* Aumentado também a largura */
    height: 1000px; /* Aumentado a altura */
}