body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #8fbc8f, #1c641c);
    background-attachment: fixed;
    text-align: center;
}

button {
    color: rgb(227, 224, 64);
    font-size: 10px;
    margin-bottom: 10px black;
    margin: 20px black ;
    border: #34335c solid 2px;
    background-color: rgb(2, 68, 2);
    width: 100px;
    height: 50px;
    line-height: 1px;
    border-radius: 10px;
}
button:hover {
    background-color: #cf0808;
}

canvas {
    background-color: rgb(255, 255, 255);
    border: 5px solid black;
    max-width: 700px;
    max-height: 650px;
}

.grafico-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grafico {
    width: 400px;
    height: 400px;
}

#botaoSalvar {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

}

.conteiner-geral {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.tabela-containerfase {
    table-layout: fixed;
    /* background-color: linear-gradient(to bottom, #8fbc8f, #8fbc8f); */
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px;
    /* color: rgb(224, 248, 6); */
    font-size: 12px;
    border: none;
    border-collapse: collapse;
    margin-left: 0px;
    border-radius: 5px;
    
}

thead{
    /* background-color: linear-gradient(to bottom, #8fbc8f, #8fbc8f); */
    color: rgb(224, 248, 6);
}

th {
    /* border: 3px solid rgb(0, 0, 0); */
    padding: 1px;
    text-align: auto;
    /* color: rgb(224, 248, 6); */
    border-radius: 5px;
    /* border-color: linear-gradient(to bottom, #8fbc8f, #8fbc8f); */
    

}

td {
    text-align: auto;
    /* border: 3px solid rgb(0, 0, 0); */
    padding: 1px;
    text-align: auto;
    border-radius: 5px;
    color: rgb(224, 248, 6);
    background-color: rgb(2, 68, 2);

    border-color: linear-gradient(to bottom, #8fbc8f, #8fbc8f);
    
}

#tabelafase {
    width: 100%;
    /* Garante que a tabela ocupe toda a largura disponível */
    table-layout: fixed;
    /* Mantém colunas com largura uniforme */
    border-collapse: collapse;
    /* Elimina espaços extras entre células */
    border-radius: 5px;

}

#tabelafase th,
#tabelafase td {
    width: 100%;
    /* Ajusta cada coluna para ocupar 25% da largura total */

    padding: 3px;
    /* Adiciona espaçamento interno */
    text-align: left;
    /* Centraliza o conteúdo */
    border: 1px solid white;
    border-color: linear-gradient(to bottom, #8fbc8f, #8fbc8f);;
    /* Mantém bordas visíveis */
    background-color: rgb(186, 59, 59);
    border-radius: 5px;
}

#tabelafase .input-container input,
#tabelafase .input-container label {
    width: 90%;
    /* Faz com que os inputs e labels ocupem toda a célula */
    display: block;
    /* Garante alinhamento uniforme */
}

.exibirmagreal {
    display: table-cell;
    width: 100%;
    box-sizing: border-box;
    padding: 3px;
    vertical-align: middle;
    text-align: left;
    border-radius: 5px;
    background-color: #ffeb3b!important;
    color: #000;
}

.tabela-containerneutro {
    table-layout: fixed;
    /* background-color: linear-gradient(to bottom, #8fbc8f, #8fbc8f); */
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px;
    /* color: rgb(224, 248, 6); */
    font-size: 12px;
    border: none;
    border-collapse: collapse;
    margin-left: 0px;
    border-radius: 5px;
}

th {
    /* border: 3px solid rgb(0, 0, 0); */
    padding: 1px;
    text-align: auto;
    /* color: rgb(224, 248, 6); */
    border-radius: 5px;
    /* border-color: linear-gradient(to bottom, #8fbc8f, #8fbc8f); */
}

td {
    text-align: auto;
    /* border: 3px solid rgb(0, 0, 0); */
    padding: 1px;
    text-align: auto;
    border-radius: 5px;
    color: rgb(224, 248, 6);
    background-color: rgb(2, 68, 2);

    border-color: linear-gradient(to bottom, #8fbc8f, #8fbc8f);
}

#tabelaneutro {
    width: 100%;
    /* Garante que a tabela ocupe toda a largura disponível */
    table-layout: fixed;
    /* Mantém colunas com largura uniforme */
    border-collapse: collapse;
    /* Elimina espaços extras entre células */
    border-radius: 5px;
}

#tabelaneutro th,
#tabelaneutro td {


    padding: 3px;
    /* Adiciona espaçamento interno */
    text-align: left;
    /* Centraliza o conteúdo */
    border: 1px solid white;
    border-color: linear-gradient(to bottom, #8fbc8f, #8fbc8f);;
    /* Mantém bordas visíveis */
    background-color: rgb(67, 77, 206);
    border-radius: 5px;
}

#tabelaneutro .input-container input,
#tabelaneutro .input-container label {
    width: 90%;
    /* Faz com que os inputs e labels ocupem toda a célula */
    display: block;
    /* Garante alinhamento uniforme */
}

select {
    text-align: auto;
    width: 100%;
    height: 25px;
    margin-left: 0px;
}



/* FAZ FICAR PISCANDO O ALERTA DE POTÊNCIA MÍNIMA */
.piscando-lento {
    animation: piscarLento 1.5s infinite;
}
@keyframes piscarLento {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.3; }
}

/* FIM DA LOGICA DE PISCAR ALERTA DE POTÊNCIA MÍNIMA */
@media (max-width: 600px) {

    html,
    body {
        width: 100vw;
        max-width: 100vw;
        overflow-x: visible;
        box-sizing: border-box;
    }

    .grades-title {
        font-size: 13px;
        padding: 4px;
        margin-bottom: 4px;
    }

    .grades,
    .form-section,
    .header,
    .parametro {
        font-size: 11px;
        padding: 4px;

    }

    input,
    select,
    textarea {
        font-size: 12px;
        padding: 2px;
    }

    button,
    #botaoSalvar {
        font-size: 12px;
        padding: 6px 0;
    }

    .tabela-container {
        width: 100vw !important;
        max-width: 100vw !important;
        padding: 0;
        margin: 0;
        overflow-x: auto;
        box-sizing: border-box;
        display: block;
    }

    table {
        width: 100vw !important;
        max-width: 100vw !important;
        /* min-width: 600px; */
        box-sizing: border-box;
    }

    th,
    td {
        padding: 2px;
        font-size: 10px;
        word-break: break-word;
        max-width: 90px;
        overflow-x: auto;
        box-sizing: border-box;
    }

    #grafico,
    canvas#grafico {
        width: 100vw !important;
        height: 500px !important;
        max-width: 100vw !important;
        min-width: 0 !important;
        display: block;
        margin: 0 auto;
        background-color: rgb(235, 235, 220);
    }

    .conteiner-geral {
        flex-direction: column;
        gap: 10px;
    }

    .tabela-containerfase,
    .tabela-containerneutro {
        font-size: 10px;
        margin-left: 0;
    }

    #tabelafase,
    #tabelaneutro {
        font-size: 10px;
    }

    #tabelafase th,
    #tabelafase td,
    #tabelaneutro th,
    #tabelaneutro td {
        padding: 2px;
        font-size: 10px;
    }

    .input-container input,
    .input-container label {
        width: 100%;
        font-size: 12px;
    }

}

@media (max-width: 960px),
(max-height: 540px) {
    .conteiner-geral {
        display: flex;
        flex-direction: row;
        gap: 12px;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100vw;
        min-width: 0;
        box-sizing: border-box;
    }

    .tabelas-lado-esquerdo {
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: 10vw;
        min-width: 0;
        max-width: 45vw;
        box-sizing: border-box;
    }

    .tabela-containerfase,
    .tabela-containerneutro {
        font-size: 10px;
        padding: 0;
        /* ainda mais reduzido */
        width: 90%;
        min-width: 0;
        box-sizing: border-box;
        display: block;
    }

    .grafico-container {
        width: 100vw !important;
        max-width: 100vw !important;
        min-width: 0 !important;
        height: 100%;
        margin-left: auto;
        margin-right: 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        box-sizing: border-box;
    }

    #grafico,
    canvas#grafico {
        width: 90% !important;
        max-width: 90% !important;
        min-width: 500px !important;
        height: 525px !important;
        display: block;
        margin: 0 auto;
        background-color: rgb(235, 235, 220);
    }

    button,
    #botaoSalvar {
        font-size: 11px;
        padding: 2px 0;
        width: 100px;
        height: 50px;
    }

    input,
    select,
    textarea {
        font-size: 10px;
        padding: 0;
        /* ainda mais reduzido */
        height: 15px;
        /* ainda mais reduzido */
    }

    #tabelafase,
    #tabelaneutro {
        font-size: 11px;
        border-radius: 5px;
    }

    #tabelafase th,
    #tabelafase td,
    #tabelaneutro th,
    #tabelaneutro td {
        font-size: 10px;
        padding: 0 2px;
        /* ainda mais reduzido */
        height: 13px;
        /* ainda mais reduzido */
        border-radius: 5px;
    }


    @media (max-width: 640px),
    (max-height: 800px) {
        .conteiner-geral {
            flex-direction: column;
            gap: 8px;
            width: 100vw;
            min-width: 0;
            box-sizing: border-box;
        }

        .tabelas-lado-esquerdo {
            flex-direction: column;
            gap: 2px;
            width: 100vw;
            max-width: 100vw;
            min-width: 0;
            box-sizing: border-box;
        }

        .tabela-containerfase,
        .tabela-containerneutro {
            font-size: 9px;
            padding: 0;
            width: 100vw;
            min-width: 0;
            box-sizing: border-box;
            display: block;
        }

        .grafico-container {
            width: 100vw !important;
            max-width: 100vw !important;
            min-width: 0 !important;
            height: auto;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
        }

        #grafico,
        canvas#grafico {
            width: 98vw !important;
            max-width: 98vw !important;
            min-width: 0 !important;
            height: 500px !important;
            display: block;
            margin: 0 auto;
            background-color: rgb(235, 235, 220);
        }

        button,
        #botaoSalvar {
            font-size: 10px;
            padding: 2px 0;
            width: 90px;
            height: 40px;
        }

        input,
        select,
        textarea {
            font-size: 9px;
            padding: 0;
            height: 13px;
        }

        #tabelafase,
        #tabelaneutro {
            font-size: 9px;
        }

        #tabelafase th,
        #tabelafase td,
        #tabelaneutro th,
        #tabelaneutro td {
            font-size: 9px;
            padding: 0 1px;
            height: 11px;
        }
    }
}

@media (min-width: 1600px) {
    .conteiner-geral {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100vw;
        min-width: 0;
        box-sizing: border-box;
    }

    .tabelas-lado-esquerdo {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 15vw; /* diminuído de 20vw */
        min-width: 0;
        max-width: 30vw; /* diminuído de 45vw */
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        }

        .tabela-containerfase,
        .tabela-containerneutro {
        font-size: 12px;
        padding: 0;
        width: 70%; /* diminuído de 90% */
        min-width: 0;
        box-sizing: border-box;
        display: block;
        margin-left: auto;
        margin-right: auto;
        }

canvas {
    background-color: rgb(255, 255, 255);
    border: 5px solid black;
    max-width: 700px;
    max-height: 650px;
}

.grafico-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grafico {
    width: 400px;
    height: 400px;
}
}