body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #8fbc8f, #1c641c);
    background-attachment: fixed;
    text-align: center;
}

table {
    width: 98%;
    border-collapse: collapse;
}

th,
td {
    background-color: white;
    border: 2px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #454e45;
    color: white;
}


.fase {
    background-color: #FF0000;
    color: white;
}

.neutro {
    background-color: #00BFFF;
    color: white;
}





table {
    border-collapse: collapse;
}

th,
td {
    border: 2px solid #000000;
    /* ...outros estilos... */
}


.tabela table,
.tabela th,
.tabela td {
    border: 2px solid #000 !important;
    border-collapse: collapse !important;
}

.tabela table {
    border-spacing: 0 !important;
}

button {
    color: rgb(227, 224, 64);
    font-size: 10px;
    margin-bottom: 10px black;
    margin: 20px black;
    border: #34335c solid 2px;
    background-color: rgb(2, 68, 2);
    width: 100px;
    height: 50px;
    line-height: 1px;
    border-radius: 10px;

}

button:hover {
    background-color: #cf0808;
}

.tabela {
    display: none;
}