body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #8fbc8f, #1c641c);
    background-attachment: fixed;
    text-align: center;
}





table {
    table-layout: fixed;
    /* background-color: rgb(2, 68, 2); */
    width: 70%;
    border-collapse: separate; /* permite bordas arredondadas */
    border-spacing: 0;
    margin-top: 0px;
    color: rgb(208, 228, 31);
    font-size: 12px;
    /* border: 0px solid white; */
    border-radius: 12px; /* ajuste o valor conforme desejar */
    overflow: hidden; /* faz com que os cantos arredondados funcionem visualmente */
    border-radius: 5px;
}

th,
td {
    background-color: rgb(2, 68, 2); 
    border: 1px solid #8fbc8f;
    padding: 5px;
    text-align: center;
    padding: 4px 5px;
    border-radius: 5px;
}

button {
    color: rgb(227, 224, 64);
    font-size: 10px;
    margin-bottom: 10px black;
    margin: 20px black;
    border: #34335c solid 2px;
    background-color: rgb(2, 68, 2);
    width: 100px;
    height: 50px;
    line-height: 1px;
    border-radius: 10px;
}

button:hover {
    background-color: #cf0808;
}

input {
    width: 50px;
    margin: 5px;
    padding: 5px;
    text-align: center;
}


label {
    font-weight: bold;
    color: rgb(255, 255, 255);
    /* Muda a cor do texto */
    font-size: 16px;
    border-radius: 5px;
    
}

th {
    background-color: rgb(2, 68, 2);
    /* color: white; */
    /* Texto branco */
    font-size: 18px;
    text-transform: uppercase;
    padding: 4px 5px;
    border-radius: 5px;
    
}

td:first-child {
    background-color: rgb(2, 68, 2);
    font-weight: bold;
    /* Texto em negrito */
    text-align: left;
    /* Centralizar texto */
    padding: 4px 5px;
    border-radius: 5px;
    

}

tr:first-child {
    background-color: rgb(2, 68, 2);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 4px 5px;
    border-radius: 5px;
}



td:nth-child(6),
td:nth-child(7),
td:nth-child(8),
td:nth-child(9),
td:nth-child(10),
th:nth-child(6),
th:nth-child(7),
th:nth-child(8),
th:nth-child(9),
th:nth-child(10) {
    background-color: rgb(2, 68, 2);
    color: rgb(245, 245, 245);
    font-weight: bold;
    text-align: center;
    padding: 4px 5px;
    border-radius: 5px;
}



td {
    padding: 4px 5px;
    /* ou ajuste para o valor desejado */
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
}

td input[type="number"],
td input[type="text"] {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
    margin: 0;
    padding: 4px 5px;
    box-sizing: border-box;
    display: block;
    text-align: center;
    border-radius: 5px;
}

.input-container {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border-radius: 5px;
}

td label {
    width: 120%;
    height: 100%;
    min-width: 0;
    min-height: 0;
    margin: 0;
    padding: 4px 5px;
    box-sizing: border-box;
    display: block;
    text-align: left;
    /* vertical-align: middle; */
    border-radius: 5px;
    
}

#botaoSalvar {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

}



/* Responsividade para telas pequenas (celulares) */
@media (max-width: 600px) {

    html,
    body {
        width: 100vw;
        max-width: 100vw;
        overflow-x: visible;
        box-sizing: border-box;
    }

    .grades-title {
        font-size: 13px;
        padding: 4px;
        margin-bottom: 4px;
    }

    .grades,
    .form-section,
    .header,
    .parametro {
        font-size: 11px;
        padding: 4px;

    }

    input,
    select,
    textarea {
        font-size: 12px;
        padding: 2px;
    }

    button,
    #botaoSalvar {
        font-size: 12px;
        padding: 6px 0;
    }

    .tabela-container {
        width: 100vw !important;
        max-width: 100vw !important;
        padding: 0;
        margin: 0;
        overflow-x: auto;
        box-sizing: border-box;
        display: block;
    }

    table {
        width: 100vw !important;
        max-width: 100vw !important;

        box-sizing: border-box;
    }

    th,
    td {
        padding: 2px;
        font-size: 10px;
        word-break: break-word;
        max-width: 90px;
        overflow-x: auto;
        box-sizing: border-box;
    }
}